<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Agregar Items</title>
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <h1>Propiedades computadas con Vue (I)</h1>
    <p>Las <mark>propiedades computadas</mark> son unas variables pre-calculadas que puedes reutilizar en
        Vue sin calcularlas cada vez que las utilices, por lo que pueden ser especialmente
        interesantes para cálculos u operaciones costosas. Dichas propiedades computadas <b>sólo se
            vuelven a recalcular si alguno de los parámetros implicados cambia</b>, de modo
        que al calcularse una vez, suele cachear los resultados.</p>
    <div id="app">
        <h3>Listado de frutas:</h3>
        <div>
            <div>
                <!-- agregar frutas -->
                <div>
                    <!-- Evento keyUp: Nos permite disparar un método una vez que se levanta una tecla. -->
                    <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFrutas">
                    <button @click="agregarFrutas" >Agregar nueva fruta</button>
                </div>

                <!-- lista de frutas -->
                <ul type="none">
                    <li v-for="fruta of frutas">
                        <button @click="fruta.cantidad++">+</button>
                        <button @click="fruta.cantidad--" class="menor">-</button>
                        Hay {{fruta.cantidad}}  {{fruta.nombre}}.
                        <span v-if="fruta.cantidad === 0">SIN STOCK</span>
                        <span v-else-if="fruta.cantidad <= 0" style="color:red">(Error)</span>
                    </li>
                </ul>

                <!-- total frutas -->
                <p>Total de frutas : <b>{{sumarFrutas}}</b></p>
            </div>
        </div>
    </div>


    <!-- Referencia al CDN de Vue 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29"></script>

    <!-- Y aqui colocamos nuestro script ------------------------------>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    frutas: [{
                        nombre: 'manzanas',
                        cantidad: 13
                    }, {
                        nombre: 'bananas',
                        cantidad: 5
                    }, {
                        nombre: 'peras',
                        cantidad: 10
                    }, {
                        nombre: 'naranjas',
                        cantidad: 7
                    }],
                    nuevaFruta: "",
                    totalFrutas: 1
                }
            },
            methods: {
                agregarFrutas() {
                    this.frutas.push({
                        nombre: this.nuevaFruta,
                        cantidad: 1
                    });
                    this.nuevaFruta = ""
                }
            },
            computed: {
                sumarFrutas() {
                    this.totalFrutas = 0;
                    for (fruta of this.frutas) {
                        this.totalFrutas += fruta.cantidad;
                    }
                    return this.totalFrutas;
                }
            }
        });

        app.mount('#app');
    </script>
</body>

</html>